.flash-messages {

  &.top-right {
    position: fixed;
    top: 75px;
    right: 29px;
    z-index: 1030;
  }

  .alert {
    min-width: 300px;
    max-width: 350px;
    min-height: 70px;
    max-height: 100px;

    > div {
      padding: 7px;
    }

    i.fa-close {
      position: absolute;
      right: 8px;
      top: auto;
      margin-top: 2px;

      &.fa-close:hover {
        cursor: pointer;
      }
    }
  }

}